* {
  box-sizing: border-box;
}

/* De hoogte en de rand van het voorbeeld div-element instellen */
#center_example {
  height: 5em;
  border: 1px solid #000;
}

/* Om tekst zowel horizontaal als verticaal te centreren kan je 
   gebruikmaken van grid layout */
.grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Plaats je oplossing hieronder */
/*********************************/